# Entornos virtuales
venv/
*.env

# Archivos compilados de Python
__pycache__/
*.pyc

# Archivos de bases de datos locales (opcional, pero bueno para empezar)
# A veces no quieres subir los datos crudos, solo el código.
# Por ahora, los dejaremos fuera del .gitignore para poder verlos en el repo
# como pide el proyecto, pero es bueno saberlo.
# /redis-data/
# /realm-db/

# Archivos de sistema operativo
.DS_Store
Thumbs.db